<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/includes/common :: common">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:replace="/includes/header :: header"></div>

<div th:switch="${books}" class="container">
    <div class="row">
        <h2 th:case="null">No books found!</h2>
        <div th:case="*">
            <h2>Books</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>

                    <th>Name</th>

                    <th>Poster</th>
                    <th>Book file</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">

                    <td th:text="${book.name}"></td>

                    <td th:switch="${book.getImgName()}">
                        <h5 th:case="null">Poster not added</h5>
                        <div th:case="*">
                            <img style="max-width: 200px; max-height: 300px;" th:src="@{/img/{filename}(filename = ${book.imgName})}">
                        </div>
                    </td>
                    <td th:switch="${book.getBookText()}">
                        <h5 th:case="null">File not found</h5>
                        <div th:case="*">
                            <a th:href="@{/library/text/{some}(some=${book.bookText})}"><span>Download</span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:switch="${user.getId()}">
            <div th:case="${id}">
                <p><a th:href="@{library/{id}/create_book(id=${id})}">Add book</a></p>
            </div>
        </div>
    </div>
</div>

<div th:replace="/includes/scripts :: scripts"></div>
</body>
</html>