<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/library/create_book}" th:object="${book}" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="imgFile">Poster</label>
    <input type="file" name="imgFile" id="imgFile">
    <label for="book_text">File of book</label>
    <input type="file" name="book_text" id="book_text">
    <input type="submit" value="Add book">
</form>
</body>
</html>